%clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

%pic {
  width: 100%;
  height: 100%;
  display: block;
}

//单行&多行省略
//@include ellipsis;
//@include ellipsis(3);
@mixin ellipsis($lines: 1, $substract: 0) {
  @if $lines == 1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100% - $substract;
    overflow: hidden;
  } @else {
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

.ad-slogan-pic {
  width: 100%;
  height: 230px;
  padding: 50px 0;
  border-bottom: 1px solid #f1f1f1;
  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

/*首页-slogan*/
.mh-slogan-content {
  padding: 50px 0;
  border-bottom: 1px solid #f1f1f1;
  ul {
    @extend %clearfix;
  }
  .msi-item {
    width: 229px;
    float: left;
    margin-left: 6px;
    &:first-child {
      margin-left: 0;
    }
    &:first-child,
    &:last-child {
      .msi-txt {
        padding: 14px 0 0;
      }
    }
  }
  .msi-pic {
    width: 229px;
    height: 229px;
    img {
      @extend %pic;
    }
  }
  .msi-txt {
    color: #252525;
    font-size: 20px;
    line-height: 1.3;
    padding: 14px 40px 0 18px;
  }
}

/*热门案例+常用方案*/
.mh-column-content {
  padding: 50px 0;
  border-bottom: 1px solid #f1f1f1;
  @extend %clearfix;
  &.border-none {
    border-bottom: 0;
  }
}

.mh-left-main {
  float: left;
  width: 966px;
}

.mh-right-main {
  width: 188px;
  float: right;
}

/*热门案例*/
.mt-main {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}

.case-column {
  padding: 20px 0 10px;
  @extend %clearfix;
  border-bottom: 1px solid #f1f1f1;
  .case-item {
    color: #333;
    width: 302px;
    float: left;
    display: block;
    cursor: pointer;
    margin: 0 20px 30px 0;
  }
  .case-pic {
    position: relative;
    width: 302px;
    height: 206px;
    img {
      @extend %pic;
    }
    .case-tag {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 10px;
    }
    .tag-view {
      height: 30px;
      line-height: 30px;
      color: #fff;
      font-size: 16px;
      padding: 0 16px;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
      border-radius: 15px;
      margin-bottom: 10px;
      max-width: 120px;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      background: rgba(0, 0, 0, .7);
    }
  }
  .case-tit {
    font-size: 20px;
    padding-top: 20px;
    height: 60px;
    @include ellipsis(2);
  }
  .case-describe {
    font-size: 16px;
    padding-top: 10px;
    height: 48px;
    @include ellipsis(2);
  }
  .case-handle {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    padding-top: 18px;
    @extend %clearfix;
    .star-icon {
      margin-top: 4px;
      float: right;
    }
  }
}

.news-column {
  padding: 20px 0 0;
  .news-column-hd {
    @extend %clearfix;
  }
  .u-news-hd {
    color: #333;
    cursor: pointer;
    font-size: 20px;
    display: block;
    width: 440px;
    float: left;
    @extend %clearfix;
    &:nth-child(2n) {
      margin-left: 85px;
    }
    &:hover {
      .u-news-txt {
        color: #4bde9e;
        text-decoration: underline;
      }
    }
  }
  .u-news-pic {
    width: 148px;
    height: 100px;
    float: left;
    img {
      @extend %pic;
    }
  }
  .u-news-txt {
    margin-left: 170px;
    max-height: 90px;
    @include ellipsis(3);
  }
  .u-news-list {
    padding: 16px 0 0;
    ul {
      @extend %clearfix;
    }
    li {
      position: relative;
      font-size: 18px;
      width: 440px;
      float: left;
      box-sizing: border-box;
      padding: 5px 0 5px 8px;
      &:nth-child(2n) {
        margin-left: 85px;
      }
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: "";
        width: 4px;
        height: 4px;
        margin-top: -2px;
        border-radius: 50%;
        background: #febb50;
      }
      a {
        display: inline-block;
        @include ellipsis(1);
      }
      a, a:visited {
        color: #333;
      }
      &:hover,
      &.active {
        a {
          color: #4bde9e;
          text-decoration: underline;
        }
      }
    }
  }
}

/*首页右侧常用方案+产品课程*/
.petite-box {
  padding-top: 5px;
  border-bottom: 1px solid #f1f1f1;
  &:last-child {
    border-bottom-color: transparent;
  }
}

.petite-item {
  color: #333;
  width: 188px;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
  .petite-pic {
    width: 100%;
    height: 129px;
    img {
      @extend %pic;
    }
  }
  .petite-describe {
    line-height: 1.57;
    padding-top: 6px;
  }
  .petite-tit {
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    @include ellipsis(1);
  }
  .petite-circle {
    position: relative;
    top: -1px;
    font-size: 0;
    width: 3px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
    background: #666;
    border-radius: 50%;
  }
  .petite-course {
    color: #666;
  }
  .petite-handle {
    padding-top: 8px;
    @extend %clearfix;
    .star-icon {
      float: right;
      margin-top: 7px;
    }
  }
  .petite-money {
    color: #ff0000;
    font-size: 20px;
    display: inline-block;
    line-height: 1.2;
  }
}

/*匠心记*/
.mh-ingenuity-content {
  padding: 50px 0;
  border-bottom: 1px solid #f1f1f1;
}

.ing-main,
.ing-hd {
  display: block;
  @extend %clearfix;
}

.ing-hd {
  color: #333;
}

.ing-main {
  padding-top: 25px;
}

.ing-information {
  width: 558px;
  float: left;
}

.ing-roll {
  a {
    color: #333;
  }
  position: relative;
  width: 582px;
  height: 380px;
  float: right;
  background: #f1f1f1;
  overflow-y: auto;
  ul {
    padding: 0 28px;
    //animation: 10s rollUp linear infinite both;
  }
  li {
    color: #252525;
    padding: 7px 0;
    line-height: 28px;
    a {
      display: block;
      @include ellipsis(1);
    }
    span, b {
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
    }
    .roll-name {
      margin-left: 10px;
    }
    b {
      margin: 0 6px 0 14px;
    }
  }
  .roll-face {
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
    img {
      @extend %pic;
    }
  }
}

.ing-face {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  img {
    @extend %pic;
  }
}

.ing-info {
  margin-left: 68px;
  .ing-tit {
    font-size: 20px;
  }
  .ing-status {
    color: #666;
  }
  .ing-sta-col {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.ing-article {
  color: #333;
  font-size: 16px;
  line-height: 2;
  padding-top: 25px;
  display: block;
}

@keyframes rollUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}

/*合作企业*/
.ad-item {
  width: 188px;
  margin-bottom: 14px;
  display: block;
  img {
    width: 100%;
    display: block;
  }
}

/*圈子*/
.u-group-list {
  li {
    padding: 34px 0;
    border-bottom: 1px solid #f1f1f1;
    @extend %clearfix;
  }
  .group-left {
    width: 556px;
    float: left;
    a {
      display: block;
    }
  }
  .group-right {
    width: 374px;
    float: right;
  }
  .company-info {
    padding: 30px 26px;
    background: #f1f1f1;
    display: block;
    @extend %clearfix;
  }
  .company-pic {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    img {
      @extend %pic;
    }
  }
  .company-name {
    color: #666;
    margin-left: 66px;
    h4 {
      color: #333;
      font-size: 16px;
      padding-bottom: 6px;
    }
  }
  .group-article {
    color: #333;
    font-size: 16px;
    line-height: 2;
    display: block;
    height: 160px;
    @include ellipsis(5);
  }
  .group-address {
    color: #999;
    font-size: 16px;
    padding-top: 10px;
  }
  .group-handle {
    line-height: 24px;
    text-align: right;
    padding-top: 20px;
    font-size: 16px;
    color: #666;
    .gh-col {
      cursor: pointer;
      display: inline-block;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      &.active {
        //color: #4bde9e;
        .like-icon {
          background-position: 0 -81px;
        }
      }
    }
  }
  .cp-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    display: block;
  }
}