/*云智库固定菜单*/
.m-slide-bar {
  position: absolute;
  z-index: 5;
  left: 50%;
  width: 92px;
  margin-left: -585px;
  &.fixation {
    position: fixed;
    top: 120px;
    //z-index: 4;
  }
  .u-slide-item {
    position: relative;
    width: 90px;
    cursor: pointer;
    display: block;
    color: #666;
    font-size: 16px;
    text-align: center;
    background: #f0f0f0;
    margin-bottom: 12px;
    .u-slide-tit {
      height: 79px;
      padding: 11px 0 0;
      border: 1px solid #e8e7e7;
    }
    &:nth-child(2) {
      .m-slide-bomb {
        top: -104px;
      }
    }
    &:nth-child(3) {
      .m-slide-bomb {
        top: -208px;
      }
    }
    &.active {
      color: #18a687;
      box-shadow: 0 0 29px #e4e4e4;
      .m-slide-bomb {
        display: block;
      }
      .u-slide-tit {
        position: relative;
        z-index: 4;
        background: #fff;
        &:before {
          position: absolute;
          right: -29px;
          top: 0;
          z-index: 3;
          content: "";
          width: 30px;
          height: 100%;
          background: #fff;
        }
      }
      .slide-icon {
        background: url("images/slide_icon_active.png") no-repeat 0 0;
      }
    }
    .us-tit {
      padding-top: 7px;
    }
    &:hover,
    &.active {
      background: #fff;
      color: #18a687;
      .slide-icon {
        background: url("images/slide_icon_active.png") no-repeat 0 0;
      }
    }
  }
  .slide-icon {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background: url("images/slide_icon.png") no-repeat 0 0;
    &.attentions {
      background-position: 0 0;
    }
    &.products {
      background-position: 0 -40px;
    }
    &.cases {
      background-position: 0 -80px;
    }
  }
}

/*详情固定nav*/
.m-slide-nav {
  position: absolute;
  right: 50%;
  width: 175px;
  color: #333;
  font-size: 16px;
  text-align: center;
  margin-right: -585px;
  padding: 40px 10px;
  &.fixation {
    position: fixed;
    top: 120px;
    z-index: 4;
  }
}

.arrow-r-icon {
  position: relative;
  top: -1px;
  width: 9px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  background: url("images/arrows.png") no-repeat 0 -23px;
}

.u-s-nav-hd {
  min-width: 130px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 16px;
  background: #4bde9e;
  border-radius: 17px;
  display: inline-block;
  padding: 0 10px;
}

.u-s-nav-items {
  font-size: 16px;
  li {
    padding: 14px 0;
    &.active{
      a{
        color: #fff;
        background: #4bde9e;
        &:hover {
          text-decoration: none;
        }
        .arrow-r-icon{
          display: inline-block;
        }
      }
    }
    a {
      min-width: 130px;
      height: 34px;
      line-height: 34px;
      color: #333;
      font-size: 16px;
      padding: 0 10px;
      display: inline-block;
      border-radius: 17px;
      &:hover {
        text-decoration: underline;
      }
      .arrow-r-icon{
        display: none;
      }
    }
  }
}

/*云智库左侧弹框*/
.m-slide-bomb {
  position: absolute;
  left: 90px;
  top: 0;
  z-index: 3;
  width: 1080px;
  min-height: 300px;
  max-height: 600px;
  overflow-y: auto;
  display: none;
  background: #fff;
  border: 1px solid #e8e7e7;
  box-shadow: 0 0 29px #e4e4e4;
  cursor: default;
}

/*案例库左侧菜单*/
.m-slide-left {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 188px;
  margin-left: -585px;
  background: #f1f1f1;
  padding: 20px 0;
  &.fixation {
    position: fixed;
    top: 120px;
    z-index: 4;
  }
  li {
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    height: 28px;
    line-height: 28px;
    .ml-slide-tit {
      position: relative;
      width: 100px;
      display: inline-block;
      font-size: 20px;
      color: #252525;
      &:visited {
        color: #252525;
      }
      &:hover {
        color: #fff;
        background: #4bde9e;
        border-radius: 3px;
        a,
        a:visited {
          color: #fff;
        }
      }
    }
    &.active {
      color: #4bde9e;
      font-weight: bold;
      .ml-slide-tit {
        color: #4bde9e;
      }
      &:hover {
        color: #fff;
        .ml-slide-tit {
          color: #fff;
        }
      }
    }

  }
  .ml-slide-inner {
    position: relative;
  }
  .ml-line-icon {
    position: absolute;
    left: 35px;
    top: 0;
    width: 10px;
    height: 1px;
    content: "";
    color: #333;
    background: #333;
    display: inline-block;
    transition: all .5s;
  }
}
