%clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

/*多图 176*120*/
.cp-column {
  padding-top: 15px;
  margin-left: -14px;
  @extend %clearfix;
  &.hover-scale {
    .cp-item {
      &:hover {
        cursor: pointer;
        transform: scale(1.06);
        transition: all .4s ease-in-out;
      }
    }
  }
  &.big-pic {
    .cp-item {
      width: 300px;
      height: 204px;
    }
  }
  &.middle-pic {
    .cp-item {
      width: 276px;
      height: 190px;
    }
  }
  &.h-auto {
    .cp-item {
      height: auto;
    }
  }
}

.cp-item {
  width: 176px;
  height: 120px;
  float: left;
  display: block;
  overflow: hidden;
  margin-left: 14px;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}