<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="XXX">
    <meta name="description" content="XXX">
    <title>堆绿</title>

    <link rel="stylesheet" type="text/css" href="../../../html/components/common/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../../html/components/common/common.css"/>

    <link rel="stylesheet" type="text/css" href="../../../html/components/topTab/topTab.css"/>


</head>
<body>
<div class="top-tab-box">
    <div class="m-width clearfix">
        <i class="top-logo"></i>
        <div class="top-menu">
            <ul class="top-menu-list">
                <li class="active"><a class="top-m-item" href="../../../html/pages/home/home.html">首页</a></li>
                <li><a class="top-m-item" href="../../../html/pages/home/home.html">案例库</a></li>
                <li>
                    <a class="top-m-item" href="../../../html/pages/home/home.html">匠心记</a>
                    <div class="second-menu">
                        <div class="second-menu-inner">
                            <div class="second-m-box">
                                <div class="second-m-row">
                                    <h4 class="second-label">绿色建材<i class="second-arrow-icon"></i></h4>
                                    <div class="second-info">
                                        <a class="second-item" href="">无锡绿地西水东六期施工</a>
                                        <a class="second-item" href="">无锡绿地西水东六期施工</a>
                                        <a class="second-item" href="">嘉兴世合小镇</a>
                                        <a class="second-item" href="">无锡绿地西水东六期施工</a>
                                        <a class="second-item" href="">嘉兴世合小镇</a>
                                    </div>
                                </div>
                                <div class="second-m-row">
                                    <h4 class="second-label">绿色跑道<i class="second-arrow-icon"></i></h4>
                                    <div class="second-info">
                                        <a class="second-item" href="">无锡绿地西水东六期施工</a>
                                        <a class="second-item" href="">无锡绿地西水东六期施工</a>
                                        <a class="second-item" href="">嘉兴世合小镇</a>
                                        <a class="second-item" href="">无锡绿地西水东六期施工</a>
                                        <a class="second-item" href="">嘉兴世合小镇</a>
                                        <a class="second-item" href="">阳光小学</a>
                                    </div>
                                </div>
                                <div class="second-m-row">
                                    <h4 class="second-label">绿色交通<i class="second-arrow-icon"></i></h4>
                                    <div class="second-info">
                                        <a class="second-item" href="">嘉兴世合小镇</a>
                                    </div>
                                </div>
                            </div>
                            <div class="second-button">
                                <span class="dm-btn dm-btn-default">申请匠心记+</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="top-m-item" href="../../../html/pages/home/home.html">行业圈</a></li>
                <li><a class="top-m-item" href="../../../html/pages/home/home.html">绿建要闻</a></li>
                <li><a class="top-m-item" href="../../../html/pages/home/home.html">云智库</a></li>
                <li><a class="top-m-item" href="../../../html/pages/home/home.html">商城</a></li>
            </ul>
        </div>
        <div class="top-about">
            <a href="">联系我们</a>
            <span class="is-login">
                <!--<a href="">登录</a>-->
                <span class="login-top-face">
                    <img src="../../../html/pages/home/images/demo.png" alt="">
                </span>
            </span>
        </div>
    </div>
</div>
</body>
</html>