@charset "utf-8";
body {
  color: #252525;
  background: #fff;
}

.mod-wrapper {
  width: 100%;
  min-width: 1170px;
}

.mod-wrap {
  min-width: 1170px;
}

.m-width {
  width: 1170px;
  margin: 0 auto;
}

.g-container {
  padding-top: 90px;
}

.o-hidden {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
}

a:active,
a:visited {
  color: #333;
}

.c-red {
  color: #e23a3a;
}

.c-blue {
  color: #4493eb;
}

.pl-5 {
  padding-left: 5px;
}

.pl-6 {
  padding-left: 6px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.u-hide {
  display: none;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

.clearfix {
  display: block;
  zoom: 1;
  @extend %clearfix;
}

.com-container {
  padding: 20px 0 50px;
}

.common-tit-h1 {
  color: #999;
  font-size: 16px;
  b {
    color: #000;
    font-size: 30px;
    padding-right: 15px;
  }
}

.common-tit-h2 {
  color: #333;
  font-size: 14px;
  line-height: 45px;
  zoom: 1;
  @extend %clearfix;
  b {
    font-size: 18px;
    display: inline-block;
    float: left;
  }
  .more-tit-btn {
    color: #333;
    float: right;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
}

.common-title {
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
  border-left: 10px solid #e8e7e7;
  &.c-orange {
    color: #ff990f;
    border-left-color: #ff990f;
  }
}

.dm-btn {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  &.dm-btn-default {
    background: #4bde9e;
    &:hover {
      background: rgba(75, 222, 158, .8);
    }
  }
  &.dm-btn-info {
    background: #bebebe;
    &:hover {
      background: rgba(190, 190, 190, .8);
    }
  }
}

.star-icon {
  width: 61px;
  height: 11px;
  display: inline-block;
  background: url("images/star.png") no-repeat 0 0;
  &.no-star {
    background-position: 0 -55px;
  }
  &.one-star {
    background-position: 0 0;
  }
  &.two-star {
    background-position: 0 -11px;
  }
  &.three-star {
    background-position: 0 -22px;
  }
  &.four-star {
    background-position: 0 -33px;
  }
  &.five-star {
    background-position: 0 -44px;
  }
}

.prompt-txt {
  color: #ccc;
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
}

.n-small-icon {
  position: relative;
  top: -1px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background: url("images/news.png") no-repeat 0 0;
  &.comment-icon {
    background-position: 0 0;
  }
  &.eye-icon {
    background-position: 0 -20px;
  }
  &.edit-icon {
    background-position: 0 -40px;
  }
  &.time-icon {
    background-position: 0 -60px;
  }
  &.share-s-icon {
    cursor: pointer;
    background-position: 0 -80px;
  }
}

.address-icon,
.msg-icon,
.like-icon,
.share-icon {
  position: relative;
  top: -2px;
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  background: url("images/icon.png") no-repeat 0 0;
}

.like-icon {
  cursor: pointer;
}

.address-icon {
  background-position: 0 0;
}

.like-icon {
  background-position: 0 -21px;
  &.active {
    background-position: 0 -81px;
  }
}

.msg-icon {
  background-position: 0 -40px;
}

.share-icon {
  background-position: 0 -60px;
}

.fix-editor-btn {
  position: fixed;
  bottom: 140px;
  right: 50%;
  margin-right: -585px;
  width: 136px;
  height: 136px;
  cursor: pointer;
  background: url("images/editor.png") no-repeat center center;
  &:hover {
    opacity: .8;
  }
}

.u-pointer {
  cursor: pointer;
}