%clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

/*信息管理*/
.info-msg-manage {
  position: relative;
  padding: 20px 0;
  @extend %clearfix;
  &:before {
    position: absolute;
    left: 50%;
    top: 4%;
    content: "";
    width: 1px;
    height: 92%;
    background: #e8e7e7;
  }
  .info-msg-row {
    color: #333;
    font-size: 18px;
    line-height: 26px;
    padding: 8px 0;
  }
  .info-msg-col {
    width: 440px;
    float: left;
    padding-left: 110px;
  }
  .i-company-name {
    display: inline-block;
    margin-right: 15px;
  }
  label {
    display: inline-block;
  }
  input {
    &.i-company-name {
      line-height: 26px;
      border: 0;
      outline: none;
      font-size: 18px;
      background: #f1f1f1;
      padding: 0 10px;
    }
  }
  .i-company-face {
    position: relative;
    top: -1px;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .i-msg-btn {
    color: #996999;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
  }
  .i-msg-tipper {
    color: #999;
    font-size: 12px;
  }
  .i-member-list {
    position: relative;
    h2 {
      color: #333;
      font-size: 20px;
      padding-bottom: 12px;
    }
    .member-edit-btn {
      position: absolute;
      right: 20px;
      top: 0;
      z-index: 2;
      min-width: 50px;
      height: 26px;
      line-height: 26px;
      color: #996999;
      font-size: 16px;
      text-align: center;
      display: inline-block;
      padding: 0 15px;
      cursor: pointer;
      border-radius: 14px;
      border: 1px solid #996999;
      &:hover {
        background: #f8ecf8;
      }
    }
    ul {
      max-height: 270px;
      overflow-y: auto;
    }
    li {
      position: relative;
      padding: 10px 0;
      line-height: 46px;
      @extend %clearfix;
      .member-opt-input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100%;
        padding: 10px 0;
        background: #fff;
        display: none;
        &.show {
          display: block;
        }
      }
    }
    .i-member-handle {
      float: right;
      width: 155px;
      em {
        color: #996999;
        padding: 0 2px;
      }
    }
    .i-member-face {
      width: 46px;
      height: 46px;
      vertical-align: middle;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .i-member-name {
      float: left;
      font-size: 20px;
      max-width: 160px;
      display: inline-block;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 20px;
    }
  }
  .member-opt-input {
    padding: 15px 0;
    @extend %clearfix;
    input {
      width: 140px;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      color: #333;
      text-align: left;
      padding: 0 10px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #e8e7e7;
      float: left;
    }
    ::-webkit-input-placeholder {
      font-size: 14px;
      color: #ccc;
    }
    :-moz-placeholder {
      font-size: 14px;
      color: #ccc;
    }
    ::-moz-placeholder {
      font-size: 14px;
      color: #ccc;
    }
    :-ms-input-placeholder {
      font-size: 14px;
      color: #ccc
    }
    .mem-nike-name {
      color: #333;
      font-size: 16px;
      line-height: 38px;
      display: inline-block;
      width: 100px;
      padding-left: 15px;
      vertical-align: top;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      float: left;
    }
    .i-member-handle {
      .i-msg-btn,
      em{
        line-height: 38px;
        vertical-align: top;
      }
    }
  }
  .member-opt-bottom {
    padding: 15px 0 20px;
    .member-add-btn {
      text-align: left;
    }
    .mem-add-btn {
      color: #996999;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .member-finish-btn {
      width: 365px;
      text-align: right;
    }
    .mem-finish-btn {
      width: 100px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      display: inline-block;
      background: #996999;
      cursor: pointer;
      &:hover {
        background: #8a5b8a;
      }
    }
  }
}

.write-complain-btn {
  text-align: right;
  .write-btn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #7ae0b2;
    margin-bottom: 25px;
    display: inline-block;
    &:hover {
      background: rgba(122, 224, 178, .8);
    }
  }
}