<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="XXX">
    <meta name="description" content="XXX">
    <title>堆绿</title>

    <link rel="stylesheet" type="text/css" href="../../../html/components/common/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../../html/components/common/common.css"/>

    <link rel="stylesheet" type="text/css" href="../../../html/components/banner/banner.css"/>

</head>
<body>
<!--首页轮播图-->
<div class="m-slider-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="oper-pic" href="javascript:;"
                   style="background-image: url('../../../html/components/banner/images/banner.png');"></a>
            </div>
            <div class="swiper-slide">
                <a class="oper-pic" href="javascript:;"
                   style="background-image: url('../../../html/components/banner/images/banner.png');"></a>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            <span class="swiper-pagination-bullet"></span>
        </div>
    </div>
</div>
<!--图片banner-->
<div class="m-norm-banner">
    <div class="pic-banner">
        <img src="../../../html/components/banner/images/banner.png" alt=""/>
    </div>
</div>
<!--视频banner-->
<div class="m-norm-banner">
    <div class="video-box">
        <video class="video-area"
               poster="../../../html/components/banner/images/banner.png" controls="true">
            <source src="https://fdfs.jdd.com/group1/M00/05/0A/CgoLd1joc0GALES9AGxS2-4V2t4550.mp4"
                    type="video/mp4"/>
        </video>
        <!--播放按钮 显示 +show-->
        <i class="video-icon"></i>
    </div>
</div>
</body>
</html>