@charset "UTF-8";
.cloud-d-inner, .uqd-row, .now-case-list ul {
  zoom: 1; }
  .cloud-d-inner:after, .uqd-row:after, .now-case-list ul:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden; }

/*details*/
.cloud-d-content {
  padding-left: 135px;
  min-height: 300px;
  padding-bottom: 50px; }

.cloud-d-box {
  background: #fff; }
  .cloud-d-box .cloud-d-tit {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px; }

.cloud-d-inner {
  min-height: 700px;
  padding: 10px 0 0 30px;
  border: 1px solid #e8e7e7; }

.cloud-d-information {
  width: 760px;
  float: left; }

.cloud-d-item {
  padding: 90px 5px 40px;
  margin-top: -90px; }
  .cloud-d-item:first-child .cloud-d-headline {
    border-top: 0; }

.cloud-d-headline {
  padding: 25px 0 15px;
  border-top: 1px solid #e8e7e7; }
  .cloud-d-headline h2 {
    color: #252525;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top; }
  .cloud-d-headline .video-play-btn {
    vertical-align: top; }

.cloud-d-article {
  color: #333;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 10px; }

.video-play-btn {
  min-width: 40px;
  color: #fff;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  background: #29cfa6;
  border-radius: 3px;
  margin-left: 10px;
  border-bottom: 3px solid #1ba179;
  background: -webkit-linear-gradient(top, #5ce989, #29cfa6);
  background: -moz-linear-gradient(top, #5ce989, #29cfa6);
  background: linear-gradient(top, #5ce989, #29cfa6);
  box-shadow: 0 4px 6px rgba(53, 131, 94, 0.52); }
  .video-play-btn:hover {
    background: #4bde9e; }

.arrow-b-right {
  position: relative;
  top: -1px;
  width: 9px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  background: url("images/arrow_right.png") no-repeat center center; }

/*云智库-注意事项、产品信息、案例*/
.m-bomb-cloud {
  color: #252525;
  text-align: left; }

.u-question-dispose {
  padding: 0 5px; }

.uqd-items {
  padding: 35px 0;
  border-bottom: 1px solid #e8e7e7; }
  .uqd-items:first-child {
    padding-top: 0; }
  .uqd-items:last-child {
    padding-bottom: 0;
    border-bottom-color: transparent; }

.uqd-row {
  font-size: 20px; }

.uqd-icon {
  width: 40px;
  height: 40px;
  float: left; }
  .uqd-icon.question {
    background: url("images/question.png") no-repeat center center; }
  .uqd-icon.dispose {
    background: url("images/dispose.png") no-repeat center center; }

.uqd-info {
  margin-left: 64px; }
  .uqd-info p {
    padding: 8px 0 10px; }

.m-slide-bar .u-slide-item .uqd-info p {
  padding: 15px 0 10px; }

/*产品信息*/
.u-products-article {
  padding: 0 5px;
  font-size: 16px;
  line-height: 2; }
  .u-products-article p {
    padding-bottom: 25px; }
  .u-products-article img {
    max-width: 100%;
    display: block;
    margin-bottom: 25px; }

/*相关案例*/
.u-related-case {
  padding: 40px 5px; }
  .u-related-case .related-tab {
    color: #333;
    font-size: 18px;
    text-align: right; }
    .u-related-case .related-tab b {
      cursor: pointer;
      font-weight: normal; }
      .u-related-case .related-tab b.active {
        font-weight: bold;
        text-decoration: underline; }
    .u-related-case .related-tab span {
      color: #e4e4e4;
      padding: 0 10px; }

.related-box {
  display: none; }
  .related-box.show {
    display: block; }

/*现有案例*/
.now-case-list {
  padding-top: 15px; }
  .now-case-list a {
    color: #333;
    display: block; }
  .now-case-list ul {
    margin-left: -20px; }
  .now-case-list li {
    width: 174px;
    float: left;
    text-align: center;
    margin-left: 20px;
    color: #333;
    font-size: 18px; }
  .now-case-list .n-case-pic {
    width: 100%;
    height: 174px; }
    .now-case-list .n-case-pic img {
      width: 100%;
      height: 100%;
      display: block; }
  .now-case-list .n-case-txt {
    padding: 10px 0;
    height: 54px; }

/*视频弹框*/
.bomb-video-box {
  position: relative;
  width: 600px;
  height: 492px;
  padding-top: 30px;
  margin: 0 auto; }
  .bomb-video-box video {
    object-fit: fill; }
  .bomb-video-box .video-area {
    width: 100%;
    height: 100%; }
  .bomb-video-box .video-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 104px;
    height: 103px;
    display: none;
    margin-left: -52px;
    margin-top: -52px;
    cursor: pointer;
    background: url("images/video.png") no-repeat center center; }
    .bomb-video-box .video-icon.show {
      display: block; }

/*# sourceMappingURL=details.css.map */
