%clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

%pic {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/*评论*/
.comment-box {
  position: relative;
  padding-top: 30px;
  &.is-show-comment {
    &:before {
      position: absolute;
      right: 10px;
      top: 20px;
      width: 0;
      height: 0;
      content: "";
      display: inline-block;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #f1f1f1;
    }
  }
  .c-arrow-up {
    right: 10px;
    top: 20px;
    margin: 0;
  }
  &.pt-small {
    padding-top: 10px;
  }
  .prise-comment {
    padding: 10px 45px;
    background: #f1f1f1;
    .reply-area {
      .reply-textarea {
        textarea {
          background: #fff;
        }
      }
    }
  }
  .comment-title {
    font-size: 16px;
    color: #666;
    padding-bottom: 15px;
    .has-arrow-up {
      position: relative;
      display: inline-block;
      .c-arrow-up {
        top: 30px;
      }
    }
  }
}

.m-structure-content {
  .has-arrow-up {
    .c-arrow-up {
      margin-right: -8px;
    }
  }
}

.bomb-com-box {
  .comment-list {
    padding: 10px 30px;
    background: #f1f1f1;
    li {
      padding: 8px 0;
    }
    .level-comment {
      padding-top: 6px;
      &:first-child {
        padding-top: 0;
      }
    }
    .reply-comment-btn {
      font-size: 14px;
    }
    .reply-area {
      .reply-textarea {
        textarea {
          background: #fff;
        }
      }
    }
  }
}

.comment-list {
  &.has-bg {
    padding: 0 30px;
    background: #f1f1f1;
    .level-comment {
      padding-top: 6px;
      &:first-child {
        padding-top: 0;
      }
    }
    .reply-comment-btn {
      font-size: 14px;
    }
    .reply-area {
      .reply-textarea {
        textarea {
          background: #fff;
        }
      }
    }
  }
  li {
    padding: 15px 0;
    @extend %clearfix;
    &.reply-row {
      padding-top: 0;
    }
    &.no-face {
      .comment-face {
        display: none;
      }
      .comment-info {
        margin-left: 0;
      }
    }
  }
  .comment-face {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    img {
      @extend %pic;
    }
  }
  .comment-info {
    margin-left: 60px;
  }
  .comment-name {
    position: relative;
    color: #3f5a93;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    .name-tipper {
      color: #666;
      padding-left: 15px;
    }
    .report-btn {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .c-dark-blue {
    color: #3f5a93;
  }
  .comment-msg {
    color: #333;
    font-size: 16px;
    padding-top: 2px;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.reply-comment-btn {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
  line-height: 20px;
  display: inline-block;
  margin-top: -10px;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .n-small-icon {
    top: 0;
  }
}

.reply-comment-row {
  position: relative;
  padding: 24px 0 0;
  .reply-comment-btn {
    top: 2px;
    margin-top: 0;
  }
}

.reply-area {
  padding: 10px 0;
  display: none;
  &.show {
    display: block;
  }
  .reply-textarea {
    width: 100%;
    height: 80px;
    textarea {
      outline: none;
      border: 0;
      background: #f1f1f1;
      resize: none;
      display: block;
      width: 100%;
      height: 100%;
      font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, STHeiTi, sans-serif;
      overflow-y: auto;
      color: #333;
      font-size: 14px;
      padding: 15px 20px;
      box-sizing: border-box;
    }
    ::-webkit-input-placeholder {
      font-size: 14px;
      color: #999;
    }
    :-moz-placeholder {
      font-size: 14px;
      color: #999;
    }
    ::-moz-placeholder {
      font-size: 14px;
      color: #999;
    }
    :-ms-input-placeholder {
      font-size: 14px;
      color: #999;
    }
  }
}

.same-row-msg {
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
}

.comment-time {
  color: #999;
  font-size: 14px;
  padding-top: 2px;
}

.comment-publish {
  @extend %clearfix;
  .publish-face {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    img {
      @extend %pic;
    }
  }
  .comment-textarea {
    height: 80px;
    background: #f1f1f1;
    margin-left: 68px;
    textarea {
      outline: none;
      border: 0;
      background: #f1f1f1;
      resize: none;
      display: block;
      width: 100%;
      height: 100%;
      font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, STHeiTi, sans-serif;;
      overflow-y: auto;
      color: #333;
      font-size: 16px;
      padding: 15px 30px;
      box-sizing: border-box;
    }
    ::-webkit-input-placeholder {
      font-size: 16px;
      color: #333;
    }
    :-moz-placeholder {
      font-size: 16px;
      color: #333;
    }
    ::-moz-placeholder {
      font-size: 16px;
      color: #333;
    }
    :-ms-input-placeholder {
      font-size: 16px;
      color: #333;
    }
  }

}

.comment-publish-btn {
  text-align: right;
  padding-top: 17px;
  .publish-btn {
    cursor: pointer;
    padding: 0 20px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    background: #7ae0b2;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background: rgba(122, 224, 178, .8);
    }
  }
}

/*评论底部浮动*/
.fixation-bottom {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 5;
  width: 940px;
  margin-left: -585px;
  background: #fff;
  padding: 14px 0;
  border-top: 1px solid #e8e7e7;
  .fix-bot-inner {
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
  }
  .fix-bot-publish {
    width: 490px;
    height: 60px;
    padding: 12px 16px;
    float: left;
    background: #f1f1f1;
    box-sizing: border-box;
    @extend %clearfix;
    input {
      display: block;
      width: 75%;
      height: 36px;
      line-height: 36px;
      float: left;
      border: 0;
      font-size: 18px;
      background: #f1f1f1;
      outline: none;
    }
    ::-webkit-input-placeholder {
      font-size: 18px;
      color: #999;
    }
    :-moz-placeholder {
      font-size: 18px;
      color: #999;
    }
    ::-moz-placeholder {
      font-size: 18px;
      color: #999;
    }
    :-ms-input-placeholder {
      font-size: 18px;
      color: #999;
    }
    .fix-bot-btn {
      width: 56px;
      height: 36px;
      line-height: 36px;
      cursor: pointer;
      background: #7ae0b2;
      float: right;
      color: #fff;
      font-size: 18px;
      text-align: center;
      &:hover {
        background: rgba(122, 224, 178, .8);
      }
    }
  }
  .fix-bot-column {
    float: left;
    dl {
      display: table;
      margin-left: 20px;
    }
    dd {
      color: #b4b4b4;
      font-size: 16px;
      height: 60px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      &.line-empty {
        padding: 0;
      }
      &:first-child {
        padding: 0 30px;
      }
    }
    .fix-count {
      padding: 0 5px;
      min-width: 50px;
      text-align: center;
      display: inline-block;
    }
    .c-pointer {
      cursor: pointer;
    }
    .like-icon,
    .comment-icon {
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .fix-scan {
    font-size: 0;
    &:hover {
      .fix-is-show {
        display: block;
      }
    }
  }
  .fix-line {
    width: 1px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: #b4b4b4;
  }
  .fix-wechat-icon {
    width: 48px;
    height: 40px;
    display: inline-block;
    margin: 0 30px;
    vertical-align: middle;
    background: url("images/wex.png") no-repeat center center;
  }
  .fix-is-show {
    position: absolute;
    left: 0;
    top: -175px;
    z-index: 2;
    width: 310px;
    height: 130px;
    padding: 10px;
    display: none;
    margin-left: 10px;
    background: #f1f1f1;
    @extend %clearfix;
    .is-show-pic {
      width: 116px;
      height: 116px;
      float: left;
      padding: 7px;
      background: #fff;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .is-show-info {
      color: #666;
      font-size: 14px;
      margin-left: 150px;
      height: 130px;
      display: table;
      .is-show-txt {
        text-align: left;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .fix-up-btn {
    width: 32px;
    height: 37px;
    display: block;
    margin-left: 30px;
    cursor: pointer;
    background: url("images/top.png") no-repeat center center;
    &:hover {
      opacity: .8;
    }
  }
  .fix-scan {
    position: relative;
    cursor: pointer;
  }
  .fix-scan-icon {
    width: 44px;
    height: 43px;
    display: inline-block;
    margin: 0 30px;
    vertical-align: middle;
    background: url("images/scan.png") no-repeat center center;
  }
  .fix-col {
    font-size: 0;
    text-align: left;
    .fix-up-btn {
      display: inline-block;
      vertical-align: middle;
    }
  }
}